*, :before, :after  {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
}
html{
    display: block;
    color: #333;
    background-color: #eb690a;
    font-family: 'Myriad Pro',Helvetica,Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 20px;
}
body.front-page {
	background-image: url("../images/pilt3.jpg");
	background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fixed-header {
	position: fixed;
    top: 0;
    width: 100%;
    -webkit-transform: translate3D(0,-150px,0);
    -ms-transform: translate3D(0,-150px,0);
    transform: translate3D(0,-150px,0);
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
    z-index: 9998;
    background-color: #eb690a;
    padding-bottom: 14px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.07);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.07);
} 
.fixed-header.active {
    -webkit-transform: translate3D(0,0,0);
    -ms-transform: translate3D(0,0,0);
    transform: translate3D(0,0,0);
}
.header-container {
    zoom: 1;
}
.header-container:after, .header-container:before {
    content: "";
    display: table;
}
.fixed-header .logo-container {
    margin-top: 20px;
    margin-left: 65px;
}
.header-container .logo-container {
    float: left;
    position: relative;
}
.main-nav {
	float: right;
    margin-top: 59px;
    margin-right: 65px;
    padding-right: 200px;
}
.main-nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    zoom: 1;
}
.main-nav ul:after, .main-nav ul:before {
    content: "";
    display: table;
}
.main-nav ul li:first-child {
    margin-left: 0;
}
.main-nav ul li {
    float: left;
    margin-left: 65px;
}
.main-nav ul li a {
    color: #FFF;
    text-decoration: none;
    display: block;
    line-height: 34px;
    text-shadow: 0 1px 3px rgba(0,0,0,.3);
}
.header-container .language-switcher-container li .arrow-container {
    background-color: #eb690a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 16px;
}
.header-container .language-switcher-container .language-switcher:hover .arrow {
    -webkit-transform: rotate(0) translateY(-1px);
    -ms-transform: rotate(0) translateY(-1px);
    transform: rotate(0) translateY(-1px);
}
.header-container .language-switcher-container .language-switcher:hover li:before {
    content: '';
    display: block;
    background-color: #F2F2F2;
    margin-left: 32px;
    margin-right: 20px;
    height: 1px;
}
.header-container .language-switcher-container .language-switcher:hover {
    background-color: #fff;
}
.header-container .language-switcher-container li .arrow-container .arrow {
    margin-top: 7px;
    margin-left: 5px;
    -webkit-transform: rotate(-180deg) translateY(0);
    -ms-transform: rotate(-180deg) translateY(0);
    transform: rotate(-180deg) translateY(0);
    -webkit-transition: -webkit-transform .2s,margin .2s;
    transition: transform .2s,margin .2s;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 4px solid #fff;
}
.header-container .language-switcher-container {
    width: 200px;
    position: absolute;
    right: 0;
    top: 8px;
    float: right;
    padding-top: 42px;
    z-index: 109798798789798;
}
.header-container .language-switcher-container .language-switcher {
    display: inline-block;
}
.header-container .language-switcher-container ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 24px;
}
.header-container .language-switcher-container li:first-child {
    display: block;
}
.header-container .language-switcher-container li {
    display: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.header-container .language-switcher-container li:first-child a {
    padding-top: 2px;
}
.header-container .language-switcher-container li a {
    height: 48px;
    background-color: #fff;
    line-height: 48px;
    border-radius: 24px;
    padding-left: 32px;
    width: 120px;
    display: block;
    cursor: pointer;
    color: #3e4f57;
    text-decoration: none;
}
.header-container .language-switcher-container .language-switcher:hover li {
    display: block;
}
.logo-container {
	float: left;
    margin-top: 50px;
    margin-left: 80px;
    position: relative;
    z-index: 1000;
}
.bauhof-logo {
    background-image: url("../images/bauhof-remont-varviline.svg");
    width: 165px;
    height: 80px;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
}
.bauhof-logo, .email, .shopping-cart, .telephone {
    background-repeat: no-repeat;
}
.bauhof-logo-valge {
    background-image: url("../images/bauhof-remont-valge.svg");
    width: 165px;
    height: 80px;
    display: inline-block;
    -webkit-background-size: contain;
    background-size: contain;
}
.main-cta-container {
	padding-bottom: 260px;
    padding-top: 350px;
    position: relative;
    z-index: 0;
}
.main-cta-container .cta-wrapper {
    margin-left: 13%;
}
.main-cta-container h1.cta-label {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -3px;
    color: #3e4f57;
    max-width: 900px;
    margin-top: 0;
}
.main-cta-container .cta-text {
    max-width: 570px;
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    color: #3e4f57;
}
.main-cta-container .btn {
	margin-top: 32px;
}
.buttons-container a {
	text-decoration: none;
}
.btn-cta-primary {
    background-color: #eb690a;
    color: #FFF;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
}
.btn-cta {
    padding: 18px 50px;
    border-radius: 5px;
    //background-color: transparent;
    line-height: 13px;
    //border: 2px solid transparent;
    -webkit-transition: border-color .2s,background-color .2s;
    transition: border-color .2s,background-color .2s;
}
.main-cta-container .btn-cta-secondary {
    margin-left: 10px;
}
.btn-cta-secondary {
	padding: 15px 50px;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1px;
}
.paintbucket-area-container .buttons-container .btn-cta-secondary.grey-hover:hover, .paintbucket-area-container .buttons-container .btn-cta-secondary:hover {
    background-color: #FFF;
    color: #000;
}
.paintbucket-area-container .buttons-container .btn-cta-secondary {
    color: #FFF;
    margin-left: 15px;
}
.btn {
    color: #333;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
}
.btn, .btn:focus, .btn:hover, a, a.btn:focus, a.btn:hover {
    text-decoration: none;
}
.btn3:hover {
    background-color: #fff;
    color: #333;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
}
.btn2:hover {
	border: none;
    background-color: #fff;
    color: #333;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    outline: 0;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
}
.main-cta-container .fixed-footer {
	position: absolute;
}
.fixed-footer {
	position: fixed;
    bottom: 75px;
    left: 60px;
    z-index: 100;
}
.fixed-footer .left-side .box:first-child {
    margin-left: 0;
}
.fixed-footer .left-side .box {
    float: left;
    margin-left: 25px;
}
.fixed-footer .left-side .box a {
    text-decoration: none;
    color: inherit;
    display: block;
}
.telephone {
        background-image: url(../images/telephone-orange.svg);
}
.fixed-footer .left-side span {
    float: left;
    font-size: 13px;
    line-height: 18px;
    padding-top: 16px;
    padding-left: 10px;
}
.fixed-footer .left-side span, .leasing-container .title {
    font-weight: 700;
}
.fixed-footer .left-side .box {
    float: left;
    margin-left: 25px;
}
.fixed-footer .left-side .box a {
    text-decoration: none;
    color: inherit;
    display: block;
}
.email {
    background-image: url(../images/email-orange.svg);
}
.shopping-cart {
    background-image: url(../images/shopping-cart-orange.svg);
}
.email, .shopping-cart, .telephone {
    width: 50px;
    height: 50px;
    float: left;
}
.site-inner>.fixed-footer {
    -webkit-transform: translate3D(0,150px,0);
    -ms-transform: translate3D(0,150px,0);
    transform: translate3D(0,150px,0);
}
.fixed-footer.fixed-to-window {
    -webkit-transform: translate3D(0,150px,0);
    -ms-transform: translate3D(0,150px,0);
    transform: translate3D(0,150px,0);
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
}
.fixed-footer.fixed-to-window.active {
    -webkit-transform: translate3D(0,40px,0);
    -ms-transform: translate3D(0,40px,0);
    transform: translate3D(0,40px,0);
}
body.front-page .site-inner>.fixed-footer .telephone {
    background-image: url(../images/telephone-white.svg);
}
body.front-page .site-inner>.fixed-footer span, body.page-template-services-page header .main-nav ul li a, body.single-service header .main-nav ul li a {
    color: #FFF;
}
body.front-page .site-inner>.fixed-footer .email {
    background-image: url(../images/email-white.svg);
}
body.front-page .site-inner>.fixed-footer .shopping-cart {
    background-image: url(../images/shopping-cart-white.svg);
}
.fixed-header .logo-container .bauhof-logo {
    background-image: url(../images/bauhof-remont-valge.svg);
}

#button-scroll .b-disabled {
    opacity: 0;
    bottom: 20px;
}
#button-scroll {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 100px;
    right: 56px;
    background-image: url(../images/ringtriangle.svg);
    color: #fff;
    display: block;
    z-index: 9000;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .5s,bottom .5s;
    transition: opacity .5s,bottom .5s;
}
.anim-container {
    position: relative;
    z-index: 100;
    -webkit-transform: translate3d(0,0,0) scale(1,1);
    transform: translate3d(0,0,0) scale(1,1);
}
.fline-0 {
    height: 446px;
    top: -90px;
    right: 80px;
}
.fline {
    width: 3px;
    position: absolute;
    z-index: 101;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
}
.fline-1 {
    bottom: 0;
    height: 392px;
    -webkit-transform: rotate(90deg) translateX(-50%) translateY(100%);
    -ms-transform: rotate(90deg) translateX(-50%) translateY(100%);
    transform: rotate(90deg) translateX(-50%) translateY(100%);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
}
.fline-2 {
    bottom: -5px;
    height: 200px;
    -webkit-transform: rotate(-90deg) translateY(100%) translateZ(-20px);
    transform: rotate(-90deg) translateY(100%) translateZ(-20px);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    z-index: 1;
}
.fline-2 .breakpoint {
    left: -23px;
    top: 180px;
}
.breakpoint {
    position: absolute;
    width: 50px;
    height: 50px;
    padding-left: 2px;
    background-color: #FFF;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #eb690a;
    font-weight: 700;
    -webkit-transform: translate3d(0,0,10px) scale(1,1);
    transform: translate3d(0,0,10px) scale(1,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 18px;
    z-index: 9200;
    opacity: 0;
    transition: opacity .2s;
}
.breakpoint, .sliced-line .line {
    -webkit-transition: opacity .2s;
}
.easy-steps-container {
    background-color: #eb690a;
    padding-bottom: 340px;
    background-image: url(../images/transparent-bg.jpg);
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.easy-steps-container, .easy-steps-container .p-image {
    background-repeat: no-repeat;
    background-position: center;
}
.easy-steps-container .easy-steps-wrapper {
    width: 612px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding-top: 180px;
    position: relative;
    z-index: 3;
}
.easy-steps-container h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
}
.easy-steps-container h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -1.4px;
    width: 480px;
    margin: 15px auto 0;
}
.easy-steps-container .step {
    margin-top: 135px;
}
.easy-steps-container .step2 {
    margin-top: 135px;
}
.easy-steps-container .step3 {
    margin-top: 135px;
}
.easy-steps-container .step4 {
    margin-top: 135px;
}
.easy-steps-container .easy-steps-wrapper {
    width: 612px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding-top: 180px;
    position: relative;
    z-index: 3;
}
.easy-steps-container .step-count {
    font-size: 30px;
    font-weight: 700;
    width: 98px;
    height: 100px;
    background-image: url(../images/easy-step.svg);
    color: #eb690a;
    margin: 0 auto;
    padding-top: 32px;
}
.easy-steps-container .description {
    color: #f6f6f6;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 28px;
    margin-bottom: 0;
}
.easy-steps-container .step.s-enabled>div, .easy-steps-container .step.s-enabled>h2, .easy-steps-container .step.s-enabled>p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}
.easy-steps-container .step>div, .easy-steps-container .step>h2, .easy-steps-container .step>p {
    -webkit-transform: translate3d(0,100px,0);
    transform: translate3d(0,100px,0);
    opacity: 0;
    -webkit-transition: -webkit-transform .5s,opacity .7s;
    transition: transform .5s,opacity .7s;
}
.easy-steps-container .step2.s-enabled>div, .easy-steps-container .step2.s-enabled>h2, .easy-steps-container .step.s-enabled>p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}
.easy-steps-container .step2>div, .easy-steps-container .step2>h2, .easy-steps-container .step>p {
    -webkit-transform: translate3d(0,100px,0);
    transform: translate3d(0,100px,0);
    opacity: 0;
    -webkit-transition: -webkit-transform .5s,opacity .7s;
    transition: transform .5s,opacity .7s;
}
.easy-steps-container .step3.s-enabled>div, .easy-steps-container .step3.s-enabled>h2, .easy-steps-container .step.s-enabled>p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}
.easy-steps-container .step3>div, .easy-steps-container .step3>h2, .easy-steps-container .step>p {
    -webkit-transform: translate3d(0,100px,0);
    transform: translate3d(0,100px,0);
    opacity: 0;
    -webkit-transition: -webkit-transform .5s,opacity .7s;
    transition: transform .5s,opacity .7s;
}
.easy-steps-container .step4.s-enabled>div, .easy-steps-container .step4.s-enabled>h2, .easy-steps-container .step.s-enabled>p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1;
}
.easy-steps-container .step4>div, .easy-steps-container .step4>h2, .easy-steps-container .step>p {
    -webkit-transform: translate3d(0,100px,0);
    transform: translate3d(0,100px,0);
    opacity: 0;
    -webkit-transition: -webkit-transform .5s,opacity .7s;
    transition: transform .5s,opacity .7s;
}
.easy-steps-container .p1 {
    background-image: url(../images/parralax-1.png);
    width: 686px;
    height: 471px;
    right: -40px;
    top: 1500px;
}
.easy-steps-container .p-image {
    position: absolute;
    -webkit-background-size: contain;
    background-size: contain;
    top: 1250px;
    z-index: 2;
    display: none;
}
.easy-steps-container .p2 {
    background-image: url(../images/parralax-2.png);
    width: 315px;
    height: 678px;
}
.easy-steps-container .p3 {
    background-image: url(../images/parralax-3.png);
    width: 215px;
    height: 291px;
    top: 1650px;
    left: 200px;
    z-index: 1;
}
.easy-steps-container, .easy-steps-container .p-image {
    background-repeat: no-repeat;
    background-position: center;
}
.easy-steps-container .description ol {
    max-width: 275px;
    margin: 0 auto;
}
.paintbucket-area-container {
    background-color: #3e4f57;
    width: 100%;
    overflow: hidden;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}
.paintbucket-area-container .paintbucket-wrapper {
    padding-left: 20%;
    padding-top: 80px;
    padding-bottom: 70px;
}
.paintbucket-area-container h1 {
    margin-top: 0;
    width: 517px;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -3px;
}
.paintbucket-area-container .description {
    width: 568px;
    color: #f6f6f6;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 0;
}
.paintbucket-area-container .buttons-container {
    margin-top: 35px;
    margin-bottom: 35px;
}
.paintbucket-area-container .buttons-container .btn-cta-primary {
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
}
.paintbucket-area-container .buttons-container .btn-cta-secondary {
    margin-left: 15px;
}
.paintbucket-area-container .paintbuckets {
    height: 241px;
    position: relative;
    display: table-cell;
    zoom: 1;
}
.paintbucket-area-container .paintbuckets:before {
    content: "";
    height: 79px;
    width: 1px;
    display: inline-block;
}
.paintbucket-area-container .paintbuckets:after, .paintbucket-area-container .paintbuckets:before {
    content: "";
    display: table;
}
.paintbucket-area-container .paintbuckets .bucket.selected, .paintbucket-area-container .paintbuckets .bucket:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    top: 0;
}
.paintbucket-area-container .paintbuckets .bucket:first-child {
    margin-left: 0;
}
.paintbucket-area-container .paintbuckets .grey-bucket {
    background-image: url(../images/bucket-gray.png);
}
.paintbucket-area-container .paintbuckets .bucket {
    width: 138px;
    height: 186px;
    margin-left: 15px;
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    display: inline-block;
    vertical-align: bottom;
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
    cursor: pointer;
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.paintbucket-area-container .paintbuckets .orange-bucket {
    background-image: url(../images/bucket-orange.png);
}
.paintbucket-area-container .paintbuckets .green-bucket {
    background-image: url(../images/bucket-green.png);
}
.paintbucket-area-container .paintbuckets .blue-bucket {
    background-image: url(../images/bucket-blue.png);
}
.paintbucket-area-container .paintbuckets .cyan-bucket {
    background-image: url(../images/bucket-cyan.png);
}
.paintbucket-area-container .fixed-footer {
    color: #FFF;
    position: relative;
    display: none;
    left: 0;
    bottom: 0;
    padding-left: 20px;
    height: 130px;
}
.paintbucket-area-container .fixed-footer .box {
    display: block;
    width: 100%;
}
.paintbucket-area-container .fixed-footer .box:nth-of-type(2) {
    margin-left: 0;
    margin-top: 15px;
}
.paintbucket-area-container .telephone {
    background-image: url(../images/telephone-white.svg);
}
.paintbucket-area-container .email {
    background-image: url(../images/email-white.svg);
}
.mobile-main-nav {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #eb690a;
    opacity: 0;
}
.mobile-main-nav .logo-container {
    position: absolute;
    top: 10px;
    left: 15px;
    display: none;
}
.mobile-main-nav .logo-container .bauhof-logo {
    background-image: url(../images/bauhof-logo-white.svg);
}
.mobile-main-nav ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: 80px;
    overflow: hidden;
    margin-bottom: 0;
}
.mobile-main-nav ul li {
    text-align: center;
    margin: 0 40px;
    position: relative;
    border-bottom: 1px solid #eb690a;
}
.mobile-main-nav ul li a {
    display: block;
    line-height: 60px;
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
    background-color: transparent;
    -webkit-transition: background-color .25s;
    transition: background-color .25s;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}
.mobile-nav-container .hamburger {
    height: 40px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    z-index: 9999;
    user-select: none;
}
.mobile-nav-container .hamburger, .mobile-nav-container .hamburger .slice {
    width: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.mobile-nav-container .hamburger {
    position: fixed;
    top: 67px;
    right: 60px;
    -webkit-transition: top .5s;
    transition: top .5s;
}
.hamburger {
    display: none;
}
.mobile-nav-container .hamburger .slice {
    height: 6px;
    background-color: #FFF;
    margin-top: 4px;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: opacity .25s,-webkit-transform .25s,width .25s;
    transition: opacity .25s,transform .25s,width .25s;
    user-select: none;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}
.mobile-nav-container .hamburger.active .slice:last-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-nav-container .hamburger.active .slice:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-nav-container .hamburger.active .slice:nth-child(3n+2) {
    opacity: 0;
}
.mobile-nav-container .hamburger.active .slice {
    background-color: #FFF;
    width: 29px;
}
.mobile-nav-container .hamburger, .mobile-nav-container .hamburger .slice {
    width: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.mobile-main-nav.active.animate {
    opacity: 1;
}
.mobile-main-nav.active {
    display: block;
    z-index: 9998;
}
.full-body {
    overflow: hidden;
}

//Responsive osa
@media screen and (max-width: 1440px){
.header-container .logo-container {
    margin-top: 35px;
    margin-left: 65px;
    }
.main-cta-container {
    padding-top: 50px;
    padding-bottom: 150px;
    }
.main-cta-container .fixed-footer {
    bottom: 80px;
    }
}
@media screen and (max-width: 1300px){
#button-scroll {
    bottom: 75px;
    }
.paintbucket-area-container .paintbucket-wrapper {
    padding-left: 10%;
    padding-top: 80px;
    padding-bottom: 70px;
    }
}
@media screen and (max-width: 1275px){
#button-scroll {
    display: none;
    }
}
@media screen and (max-width: 1220px){
body.front-page {
    background-position: -720px 0;
    }
.main-cta-container .cta-wrapper {
    margin-left: 60px;
    padding-right: 60px;
    }
.main-cta-container .cta-wrapper {
    padding-top: 120px;
    }
}
@media screen and (max-width: 1024px){
.main-cta-container {
    padding-top: 50px;
    padding-bottom: 150px;
    }
}
@media screen and (max-width: 960px){
.paintbucket-area-container .paintbuckets, .paintbucket-area-container .paintbuckets:before {
    height: 175px;
}
.paintbucket-area-container .paintbuckets .bucket {
    width: 100px;
    height: 150px;
    margin-left: 15px;
    }
}
@media screen and (max-width: 905px){
.fixed-header .logo-container {
    margin-left: 20px;
    }
}
@media screen and (max-width: 900px){
.header-container .logo-container {
    margin-left: 20px;
    }
}
@media screen and (max-width: 800px){
.main-cta-container {
    padding-bottom: 114px;
    }
.main-cta-container .fixed-footer {
    bottom: 35px;
    }
.easy-steps-container .p-image {
    display: none!important;
    }
}
@media screen and (max-width: 730px){
.btn-cta {
    padding: 21px 5px 20px;
    width: 100%;
    text-align: center;
    }
.paintbucket-wrapper .btn-cta-secondary  {
    padding: 21px 5px 20px;
    width: 100%;
    text-align: center;
    }
.main-cta-container .fixed-footer {
    left: 70px;
    }
.fixed-footer {
    left: 30px;
    }
.paintbucket-area-container .paintbucket-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    }
.paintbucket-area-container h1 {
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 42px;
    }
.paintbucket-area-container .description, .paintbucket-area-container h1 {
    width: 100%;
    }
.paintbucket-area-container .buttons-container {
    margin-bottom: 15px;
    }
.paintbucket-area-container .buttons-container .btn-cta-secondary {
    margin-left: 0;
    margin-top: 15px;
    }
.paintbucket-area-container .paintbuckets, .paintbucket-area-container .paintbuckets:before {
    height: 134px;
    }
.paintbucket-area-container .paintbuckets .bucket {
    width: 75px;
    height: 101px;
    margin-left: 15px;
    }
.fixed-footer {
    left: 30px;
    }
}
@media screen and (max-width: 700px){
.main-cta-container .cta-wrapper {
    padding-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 0;
}
.mobile-nav-container .hamburger {
    top: 35px;
    right: 20px;
    }
.hamburger {
    display: block;
    }
.language-switcher-container, .main-nav {
    display: none;
    }
.main-cta-container {
    padding-top: 20px;
    }
.header-container .logo-container {
    margin-top: 30px;
    margin-left: 20px;
    }
.main-cta-container .fixed-footer {
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
    width: 100%;
    }
.easy-steps-container .easy-steps-wrapper, .easy-steps-container h2 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    }
.easy-steps-container h1 {
    font-size: 38px;
    line-height: 48px;
    }
.easy-steps-container .step {
    margin-top: 80px;
    }
.easy-steps-container h2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1.4px;
    }
.easy-steps-container {
    padding-bottom: 40px;
    }
}
@media screen and (max-width: 600px){
.paintbucket-area-container .paintbucket-wrapper {
    padding-bottom: 0;
    }
.paintbucket-area-container .fixed-footer {
    display: block;
    }
.site-inner>.fixed-footer {
    display: none;
    }
}

@media screen and (max-width: 550px){
.fixed-header {
    padding-bottom: 0;
    }
.fixed-footer {
    display: none;
}
.fixed-header .logo-container {
    margin-top: 10px;
    }
.fixed-header .logo-container .bauhof-logo {
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40px;
}
.mobile-main-nav ul li {
    margin: 0 20px;
    }
.paintbucket-area-container .paintbuckets {
    width: 330px;
    margin: 40px auto 0;
    height: auto;
    display: block;
    padding-left: 0;
    text-align: center;
    }
.mobile-nav-container .hamburger.active-fixed-header {
    top: 12px;
    }
.paintbucket-area-container .paintbuckets .bucket.selected, .paintbucket-area-container .paintbuckets .bucket:hover {
    margin: 0;
    }
.paintbucket-area-container .paintbuckets .bucket {
    width: 100px;
    height: 150px;
    margin: 0;
    -webkit-transition: -webkit-transform .2s cubic-bezier(.21,.67,.69,1.48);
    transition: transform .2s cubic-bezier(.21,.67,.69,1.48);
    display: inline-block;
    }
}
@media screen and (max-width: 500px){
.main-cta-container h1.cta-label {
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 28px;
    line-height: 38px;
    font-weight: 400;
    letter-spacing: 0;
    }
}
@media screen and (max-width: 430px){
.main-cta-container {
    padding-bottom: 150px;
    }
}